:root {
  --white-clr: hsl(0, 0%, 100%);
  --lightgray-clr: hsl(212, 45%, 89%);
  --gray-clr: hsl(220, 15%, 55%);
  --darkblue-clr: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
}

main {
  background-color: var(--lightgray-clr);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD SECTION */

.card {
  background-color: var(--white-clr);
  border-radius: 1.2rem;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* CARD IMAGE SECTION */

img {
  width: 220px;
  border-radius: 0.8rem;
  margin-top: 1rem;
}

/* CARD INFORMATION SECTION */

.card__information {
  color: var(--darkblue-clr);
  padding: 1.2rem 1.5rem 2.5rem;
  text-align: center;
}

h1 {
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
}

p {
  font-size: 0.9rem;
  color: var(--gray-clr);
}

/* FOOTER SECTION */

footer {
  text-align: center;
  position: absolute;
  bottom: 20px;
}

footer a {
  color: hsl(227, 62%, 39%);
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
  .card {
    width: 300px;
    height: 480px;
  }

  img {
    width: 270px;
  }

  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
    padding-top: 0.2rem;
  }

  footer {
    display: flex;
  }
}
